body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 16px; }

.wrapper {
  position: relative;
  display: table;
  width: 100%;
  min-height: 100vh; }
  .wrapper:before {
    content: '';
    display: block;
    padding-top: 100vh; }
  .wrapper > div {
    display: table-cell;
    vertical-align: middle; }
    @media (min-width: 768px) {
      .wrapper > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%; } }
    .wrapper > div .component {
      padding: 2em;
      z-index: 999;
      text-align: center;
      max-width: 568px;
      margin: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      @media (min-width: 768px) {
        .wrapper > div .component {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 75%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
      .wrapper > div .component .component__header {
        margin-bottom: 2em;
        text-align: left; }
        @media (min-width: 768px) {
          .wrapper > div .component .component__header {
            margin-bottom: 3em; } }
      .wrapper > div .component .component__progress-circle {
        width: 10em;
        height: 10em;
        position: relative;
        visibility: visible;
        opacity: 1;
        margin: 0 auto 3em;
        will-change: transform;
        -webkit-transition: transform 0.2s ease 0s;
        -moz-transition: transform 0.2s ease 0s;
        -ms-transition: transform 0.2s ease 0s;
        -o-transition: transform 0.2s ease 0s;
        transition: transform 0.2s ease 0s; }
        @media (min-width: 480px) {
          .wrapper > div .component .component__progress-circle {
            display: inline-block;
            vertical-align: middle;
            margin: 0 2em 0 0; } }
        @media (min-width: 768px) {
          .wrapper > div .component .component__progress-circle {
            width: 13em;
            height: 13em;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5em 0 0; } }
        .wrapper > div .component .component__progress-circle.animating {
          animation: rotation 0.75s infinite linear; }
        .wrapper > div .component .component__progress-circle.hidden {
          visibility: hidden;
          opacity: 0; }
        .wrapper > div .component .component__progress-circle svg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg); }
          .wrapper > div .component .component__progress-circle svg .mask-path {
            fill: none;
            stroke: #E5E5E5;
            stroke-width: 15px;
            stroke-miterlimit: 10; }
          .wrapper > div .component .component__progress-circle svg .svg-circle__path {
            fill: none;
            stroke: #FFD633;
            stroke-width: 15px;
            stroke-miterlimit: 10;
            stroke-linecap: round; }
      .wrapper > div .component .component__control-bar {
        display: inline-block;
        text-align: left; }
        @media (min-width: 480px) {
          .wrapper > div .component .component__control-bar {
            vertical-align: middle; } }
        .wrapper > div .component .component__control-bar .component__control-bar__controls {
          display: block; }
          .wrapper > div .component .component__control-bar .component__control-bar__controls + .component__control-bar__controls {
            margin-top: 1em; }
          .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__item {
            margin-right: 0.5em; }
          .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__value input[type='tel'] {
            width: 4.2em;
            border-radius: 25px;
            text-align: center;
            height: 30px;
            line-height: 1;
            border: 1px solid lightgray; }
          .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__switcher {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle; }
            .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__switcher input[type='checkbox'] {
              position: absolute;
              opacity: 0; }
            .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__switcher .switcher__point {
              width: 60px;
              height: 30px;
              background-color: #5e5e5e;
              position: absolute;
              border-radius: 25px;
              top: 0;
              left: 0;
              -webkit-transition: background-color 0.2s ease 0s;
              -moz-transition: background-color 0.2s ease 0s;
              -ms-transition: background-color 0.2s ease 0s;
              -o-transition: background-color 0.2s ease 0s;
              transition: background-color 0.2s ease 0s; }
              .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__switcher .switcher__point::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 4px;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background-color: #e9e9e9;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
                -webkit-transition: transform 0.3s ease 0s;
                -moz-transition: transform 0.3s ease 0s;
                -ms-transition: transform 0.3s ease 0s;
                -o-transition: transform 0.3s ease 0s;
                transition: transform 0.3s ease 0s; }
            .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__switcher input:checked + .switcher__point {
              background-color: #1ECD97; }
            .wrapper > div .component .component__control-bar .component__control-bar__controls .controls__switcher input:checked + .switcher__point::before {
              -webkit-transform: translate(28px, -50%);
              -moz-transform: translate(28px, -50%);
              -o-transform: translate(28px, -50%);
              transform: translate(28px, -50%); }

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
